<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
    <session-factory>

        <!-- Database Connection -->
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/hibernate_db
        </property>

        <property name="hibernate.connection.username">
            root
        </property>

        <property name="hibernate.connection.password">
            MySQL@123
        </property>

        <!-- Dialect -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <!-- SQL Logging -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Table Auto Handling -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Entity Mapping -->
        <mapping class="com.entities.User"/>
        <mapping class="com.entities.Person"/>
        <mapping class="com.entities.AadharNo"/>
        

    </session-factory>
</hibernate-configuration>
